:host {
  display: block;
}

.smart-table {
  width: 100%;
  border-collapse: collapse;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  & tr {
    display: flex;
  }


  & th, td {
    flex: 1;

    border: 1px solid #ddd;
    padding: 0.5rem 0.75rem;
    text-align: left;
    font-size: 0.9rem;
  }

  & thead {
    background: #f5f5f5;
    font-weight: 600;
  }

  & tbody tr:nth-child(even) {
    background: #fafafa;
  }

  & td {
    position: relative;

    &.editable {
      cursor: pointer;
    }

    &.editing {
      background: #fffbe6;
      box-shadow: inset 0 0 0 1px #f0c24b;
    }
  }

  & input, select {
    width: 100%;
    border: none;
    outline: none;
    font: inherit;
    background: transparent;
  }


}

.cell-value {
  display: inline-block;
  width: 100%;
}
