name: Lint
on:
  push:
  pull_request:

jobs:
  lint_black_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cp .env.example .env
      - run: docker compose run --rm api black --check /app
